<h1>Browse articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description[0, 49] %><%= '...' if article.description.length > 50 %></td>
        <td>
          <%= link_to 'Show', article_path(article.id) %><!--, method: :get -->
          <%= link_to 'Edit', edit_article_path(article.id) %><!--, method: :get -->
          <%=
            link_to 'Delete',
            article_path(article.id),
            method: :delete,
            data: { confirm: "Delete article \"" + article.title + "\"?" }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />

<%= link_to 'New article', new_article_path %>
