<!DOCTYPE html>
<html>
  <head>
    <title>RailsTestingProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'partials/messages' %>

    <%= edit_article_path(1) %>

    <%= react_component('app_wrapper/app_wrapper', {
      nav_links: [
        {
          title: 'Articles',
          href: articles_path,
          aria: 'All articles'
        }
      ],
      new_article_path: new_article_path,
      articles_path: articles_path,
      articles: @articles.to_a
    }) %>
  </body>
</html>
